.container{
  background-color: #131313;
  height: 94vh;
  padding: 0;
  margin: 0;
  width: 100%;
}

.container2{
    padding-top: 1%;
    width: 70vw;
    margin: auto;
    text-align:center;
    color: rgb(255, 255, 255);
}

.hTag{
    font-size: 30px;
}

.form{
    width: 80%;
    margin: auto;
    
}

.input{
    width: 50%;
    height: 5vh;
    outline: none;
    margin-top: 1.5vh;
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 4px;
    caret-color: red;
    border: none;
    padding-left: 20px;
}
.input:focus{
    background-color: rgb(2, 53, 77);
}
.input1{
  width: 53%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgb(39, 39, 39);
  resize: none;
  margin-top: 30px;
  outline: none;
  border: none;
}
.input1:focus{
    background-color: rgb(2, 53, 77);
}
.button{
   margin-left: 33%;
   margin-top: 2vh;
   cursor: pointer;
}

.contact1{
    width: 30%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}
.contact2{
    font-size: 40px;
}
.contact3{
    font-size: 40px;
    color: green;
}
.contact4{
    font-size: 40px;
    color: blue;
}
.contact2:hover,.contact3:hover,.contact4:hover{
    color: white;
}
@media screen and (max-width:1200px){
    .input1{
        width:100% ;
        margin-left: -10%;
    }
    .input{
        width: 95%;
        margin-left: -10%;
    }
    .button{
        margin-left: 50%;
    }
   
    }
@media screen and (max-width:600px){
.input1{
    width:120% ;
    margin-left: -10%;
}
.input{
    width: 110%;
    margin-left: -10%;
}
.button{
    margin-left: 50%;
}

}